body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 200%;
  margin: 100px, auto;
  background: #ADA996;
  background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* background-repeat: no-repeat;
  background-size: 100%; */
  background-repeat: no-repeat;
   background-size: cover;
   background-position: 100% top;
   background-attachment: fixed;
}

h1 {
  font-family: 'Acme', sans-serif;
  color: #00334d;
}

.content {
  padding-top: 50px;
}

.temperature_button {
  background: radial-gradient(#80d4ff, #006699, #00334d);
  border: 1px solid #00334d;
  box-shadow: 5px 10px 8px #888888;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #00334d;
  color: #e6ffff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  /* margin: 10px, 20px; */
  padding: 10px;
  cursor: pointer;
  font-size: 60px;
}

#up-button {
  margin-right: 30px;
}

#down-button {
  margin-left: 30px;
}

#temperature-display {
  color: red;
  font-size: 25px;
}

#min-temperature-message {
  display: none;
}

#max-temperature-message {
  display: none;
}

#current-energy-usage {
  opacity: 0.7;
  border-radius: 15px;
  margin-right: 40%;
  margin-left: 40%;
  width: 20%;
}

#power_saving_button, #reset_button {
  border-radius: 15px;
  padding: 10px;
  background-color: #80d4ff;
  color: #00334d;
  border: 1px solid #00334d;
  box-shadow: 5px 10px 8px #888888;
  cursor: pointer;
}


button:hover {
  background-color: #80d4ff;
  color: #00334d;

}
